@charset "UTF-8";
 
/* Estilo para telas */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header >h1{
    background-color: rgb(211, 211, 211);
    text-align: center;
}
menu >ul{
    list-style-type: none;
    background-color: grey;
}
menu  li{
 background-color: rgb(77, 74, 74); 
 color: aliceblue;
display: inline-block;
padding: 10px;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}