@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
line-height: 1.5em;

font-size: 1em;
}
p{
    margin-bottom: 10px;
    text-align: justify;
}
h1,h2{
    font-size: 1.6em;
    margin-bottom: 20px;
}
header,.normal{
    padding: 20px;
}
.flex-content{
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}
section > article{
    border: 2px dotted green;
}
.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.media-text{
    flex-flow: row wrap-reverse;
    display: flex;
    justify-content: space-between;
}

.text{
    flex: 1 1 500px;
    border: 2px dashed blue;
}
.media{
    border: 2px dashed red;
    flex: 1 0 400px;
}
.media > img{
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px;
}
.media > iframe{
    display: block;
    margin: auto;
    width: 90%;
}