@charset "UTF-8";

/* CONFIGURAÇÕES GERAIS */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 47, 194);
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px rgb(15, 15, 119);
    padding: 10px;
}