@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    min-height: 100vh;
background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-variant: small-caps;
    padding-top: 50px;
}
header > p{
padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgb(20, 20, 20);
    color: white;
}
.imagem > p{
    background-color: rgb(37, 37, 37);
    width: 500px;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}