@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body,html{
    background-color: lightgray;
}
header{
    background-color: gray;
}
header >h1{
    padding: 10px;
    text-align: center;
}
#burguer{
    background-color: rgb(37, 37, 37);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#burguer:hover{
background-color: white;
color: black;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;

}
menu  > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(80, 80, 80);
    text-align: center;
    color: white;
    border:2px solid gray;
}
menu  > ul > li > a:hover{
    background-color: rgb(184, 182, 182);
}
main{
    width: 90vw;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}
article > h1{
    padding-bottom: 10px;
}
article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}